/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

# Ignore profile photos
/storage/app/public/profile-photos/
/public/profile-photos/

# Ignore image files
*.png
*.jpg
*.jpeg
*.gif

# Ignore all files in the public/upload directory
public/upload/
